*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url(./Images/food_doodle_detail.webp);
    background-size: contain;
    backdrop-filter: brightness(60%);
}

.container{
    border: 3px solid black !important;
}

.btn:hover{
    box-shadow: black 7px 8px 8px 2px;
    text-decoration: none;
}

.btn a{
    text-decoration: none;
    color: black !important;
}

.nav-link:hover{
    position: relative;
    bottom: 8px;
    color: #000000 !important;
    text-shadow:0px 0px 30px #ffe100 !important;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
}

.Nav-Font{
    font-size: large;
    font-weight: 400;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black !important;
}

.container{
    margin-top: 1rem;
    border: 1px solid rgb(0, 0, 0);
    padding: 8px;
    /* box-shadow: 4px 8px 10px black; */
    border-radius: 10px;
}

.color-background{
    background: linear-gradient(-45deg, #ccff00, #ffe600, #00eeff, #00ff91);
    animation: gradient 4s ease infinite;
    background-size: 400% 400%;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.image-margin{
    margin-right: 20px;
}

.order:hover{
    background: linear-gradient(-45deg, #ff3c00, #fffb00, #00bbff, #00ffc3);
    animation: gradient 4s ease infinite;
    background-size: 400% 400%;
    box-shadow: rgb(48, 48, 48) 7px 8px 8px 2px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.hero-section{
    background-image: url(./Images/doodle.avif) !important;
    background-size: cover !important;
    background-repeat: no-repeat;
    background-position: bottom;
    /* background-color: #ffa125de !important; */
}


.para{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.features{
    border: 2px solid black;
}

.footer{
    background-color: #ffa125 !important;
    padding: 80px;
}

.bt{
    background-color: #8d3131;
    border: 1px solid #15674c;
}

.call-button:hover{
    background-color: #15674c !important;
}

@media (max-width: 1080px) {
    .media-query{
        font-size: 50px !important;
        display: flex !important;
        flex-flow: column !important;
        flex-wrap: wrap;
    }
}

.main:hover .blured{
    filter: blur(4px);
    transition: ease-in-out 0.8s;
}

.main .blured:hover{
    filter: blur(0px);
}

